[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
"argon2-cffi" = "*"
bcrypt = "*"
"psycopg2-binary" = "*"
djangorestframework-gis = "*"
requests = "*"

[dev-packages]
sphinx = "*"
sphinx-autobuild = "*"
"flake8" = "*"
ipython = "*"

[requires]
python_version = "3.6"
